<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.DriverMapper">
   <select id="findDriver" resultType="com.example.demo.entity.Driver">
       select * from driver where name=#{name} and car_license=#{car_license}
   </select>

    <insert id="addDriver">
        insert into driver (driver_id,name, car_license,phone) VALUES (#{driver_id},#{name},#{car_license},#{phone})
    </insert>
</mapper>