<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.ViolationMapper">
    <select id="findViolation" resultType="com.example.demo.entity.Violation">
        select * from where carlicense=#{carlicense}
    </select>
    <delete id="deleteViolation" >
        delete from violation where carlicense=#{carlicense}
    </delete>
    <insert id="addViolation">
        insert into violation (carlicese,violation,fine,time,score) VALUES (#{carlicense}, #{violation}, #{fine}, #{time}, #{score},)
    </insert>
</mapper>